


.containerWelcome{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-top: 400px;
    margin-left: 10%;
    margin-right: 10%;
}

.containerWelcome .containerWelcome_Grid{
display: grid;
grid-template-rows: 30%;
align-items: center;
}

.containerWelcome .containerWelcome_Grid label, .containerWelcome .containerWelcome_Grid .button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerWelcome .containerWelcome_Grid h1{
font-size: 80px;
font-family: 'Dosis', sans-serif!important;
}
.containerWelcome .containerWelcome_Grid label{
    font-size: 50px;
    font-family: 'Dosis', sans-serif!important;
    }

    .containerWelcome .containerWelcome_Grid a{
        font-size: 26px;
        background-color: rgb(35, 182, 6);
        color: white;
        border-radius: 20px;
        box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25) ;
        margin-left: 40%;
        margin-right: 40%; 
        padding: 16px;
        font-family: 'Dosis', sans-serif!important;
        cursor:pointer;
        }

        .containerWelcome .containerWelcome_Grid a :hover{
            color: rgb(172, 177, 182);
        }




