

main{
     margin-top: 10%;
     margin-left: 10%;
     margin-right: 10%;
     position: relative;
}

main div{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 2px solid black;
}


