body{font-family: 'Dosis', sans-serif!important;
    font-size: 18px;
}
.title{
    padding-left: 30px;
}
.title h1{
    font-size: 55px!important;
}
.conainer{
    background-color: rgb(24, 132, 0);
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 12px;
    margin: 12px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.form-group input, .select{
    width: 80%;
}

.conainer form  {
    background-color:white;
   border: 2px solid black;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container-space{
    margin: 25px;
    height: 48em;
}
.item{
    margin: 10px;
}
.itemTwo{
    margin: 10px;
}
.itemTwo a {
   text-decoration: none;
   color: black;

}
.gridSelect{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
}

.selectItems label{
    display: flex; 
    align-items: center;
}
.button{
    padding-left:24px;
}
.btnAgg{
    display: flex;
    align-items: center;
    background-color: blue;
    color: white;
    border-radius: 20px;
    width: 155px;
    margin-bottom: 14px;
    margin-top: 14px;
}

.searchForm{
display: grid;
grid-template-columns:  50% 50%;
}

.search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.labelTitle{
   font-size: 22px;
}


.paginador ul{
    padding: 15px;
    list-style: none;
    background: white;
    margin-top: 15px;
    display: flex;
    justify-content: center;

}

.paginador a, .pageSelected{
    color: #428bca;
    border: 1px solid #ddd;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    width: 35px;
}

.paginador a:hover{
    background:#ddd ;
}
.pageSelected{
    color: rgb(14, 13, 13);
    
    border: 1px solid #428bca;
}